In [421]:
import pandas as pd
import numpy as np

In [527]:
train=pd.read_csv(r'C:\Users\vikil\Desktop\ML\data_Sets\loan\train_ctrUa4K.csv')
test=pd.read_csv(r'C:\Users\vikil\Desktop\ML\data_Sets\loan\test_lAUu6dG.csv')

In [528]:
train.drop(train.iloc[:,0:3], inplace=True, axis=1)
test.drop(test.iloc[:,0:3], inplace=True, axis=1)

In [529]:
def filling_null(df):
    for i in range (0,len(df.columns)):
        if df.iloc[:,i].isnull().sum() > 0:
            if (df.iloc[:,i].dtype == 'object'):
                df.iloc[:,i]=df.iloc[:,i].fillna(df.iloc[:,i].mode()[0])
            else:
                df.iloc[:,i]=df.iloc[:,i].fillna(df.iloc[:,i].mean())

In [530]:
filling_null(train)
filling_null(test)

In [531]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [532]:
train['Dependents']=le.fit_transform(train.Dependents)
train['Education']=pd.get_dummies(train['Education'])
train['Self_Employed']=le.fit_transform(train['Self_Employed'])
train['Property_Area']=le.fit_transform(train.Property_Area)

In [533]:
testing_loan=train.Loan_Status.eq('Y').mul(1)
training=train.iloc[:,0:9]
training

,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,0,5849,0.0,146.412162,360.0,1.0,2
1,1,1,0,4583,1508.0,128.000000,360.0,1.0,0
2,0,1,1,3000,0.0,66.000000,360.0,1.0,2
3,0,0,0,2583,2358.0,120.000000,360.0,1.0,2
4,0,1,0,6000,0.0,141.000000,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...
609,0,1,0,2900,0.0,71.000000,360.0,1.0,0
610,3,1,0,4106,0.0,40.000000,180.0,1.0,0
611,1,1,0,8072,240.0,253.000000,360.0,1.0,2
612,2,1,0,7583,0.0,187.000000,360.0,1.0,2
613,0,1,1,4583,0.0,133.000000,360.0,0.0,1

In [541]:
from sklearn.model_selection import train_test_split
training,testing= train_test_split(training,test_size=0.2,random_state=0)
training_op,testing_op= train_test_split(testing_loan,test_size=0.2,random_state=0)

In [535]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
log.fit(training,training_op)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [536]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Dependents         367 non-null    object
 1   Education          367 non-null    object
 2   Self_Employed      367 non-null    object
 3   ApplicantIncome    367 non-null    int64
 4   CoapplicantIncome  367 non-null    int64
 5   LoanAmount         367 non-null    float64
 6   Loan_Amount_Term   367 non-null    float64
 7   Credit_History     367 non-null    float64
 8   Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(4)
memory usage: 25.9+ KB

In [537]:
test['Dependents']=le.fit_transform(test.Dependents)
test['Education']=pd.get_dummies(test['Education'])
test['Self_Employed']=le.fit_transform(test['Self_Employed'])
test['Property_Area']=le.fit_transform(test.Property_Area)

In [540]:
pred=log.predict(testing)

In [542]:
from sklearn.metrics import accuracy_score
accuracy_score(pred,testing_op)

0.8373983739837398

In [496]:
sub=pd.read_csv(r'C:\Users\vikil\Desktop\ML\data_Sets\loan\sample_submission_49d68Cx.csv')

In [497]:
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Loan_ID      367 non-null    object
 1   Loan_Status  367 non-null    object
dtypes: object(2)
memory usage: 5.9+ KB

In [498]:
list=pred.tolist()

In [499]:
res=[]
for i in list:
    if i==1:
        res.append('T')
    else:
        res.append('F')

In [500]:
sub.drop(['Loan_Status'], axis=1)

      Loan_ID
0    LP001015
1    LP001022
2    LP001031
3    LP001035
4    LP001051
..        ...
362  LP002971
363  LP002975
364  LP002980
365  LP002986
366  LP002989

[367 rows x 1 columns]

In [501]:
sub['Loan_Status']=pd.DataFrame(res)

In [502]:
sub

      Loan_ID Loan_Status
0    LP001015           T
1    LP001022           T
2    LP001031           T
3    LP001035           T
4    LP001051           T
..        ...         ...
362  LP002971           T
363  LP002975           T
364  LP002980           T
365  LP002986           T
366  LP002989           T

[367 rows x 2 columns]

In [510]:
sub.to_csv(r'C:\Users\vikil\Desktop\ML\data_Sets\loan\my_sub.csv', index=False)

In [511]:
pd.read_csv(r'C:\Users\vikil\Desktop\ML\data_Sets\loan\my_sub.csv')

      Loan_ID Loan_Status
0    LP001015           T
1    LP001022           T
2    LP001031           T
3    LP001035           T
4    LP001051           T
..        ...         ...
362  LP002971           T
363  LP002975           T
364  LP002980           T
365  LP002986           T
366  LP002989           T

[367 rows x 2 columns]